* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'finger_paintregular'
}

header {
    height: max(calc(100vh - 250px),300px);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 20px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url("../images/awoodbackground.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    
}

header h1 {
    font-size: 3.5vw;
    color: white;
    text-shadow: 3px 3px 10px rgba(22, 19, 19, 0.8);
    background-color: rgba(255, 255, 255, .8);
    padding: 20px;
    box-shadow: 0 0 7px rgba(22, 19, 19, 0.3);
    border-radius: 50%;
}

header a {
    text-decoration: none;
    color: white;
}

header nav {
    width: 50%;
}

header nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
}

header nav ul li {
    padding: 3vh 0 5vh 0;
    text-align: center;
}
header nav ul li a {
    font-weight: lighter;
    font-size: 2.5vw;
    text-shadow: 3px 3px 10px rgba(22, 19, 19, 0.8);
}

.scroll {
    position: relative;
    z-index: 2;
    text-shadow: 1px 1px 5px rgba(154, 193, 238, 0.8)
}

.about {
    display: flex;
    flex-wrap: wrap;
    padding: 20vh 20vh;
    background-image: url(../images/carbackground.jpg);
    background-size: cover;
    justify-content: space-between;
}

.header-image {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
}

.about-header {
    display: flex;
    height: 30%;
    background-color: rgba(255, 255, 255, .8);
    box-shadow: 0 0 7px rgba(22, 19, 19, 0.3);
    border-radius: 15px;  
}

.about h2 { 
    font-size: 3vw;
    margin: auto;
}

.image {
    display: flex;
    background-color: rgba(255, 255, 255, .8);
    height: 60%;
    box-shadow: 0 0 7px rgba(22, 19, 19, 0.3);
    border-radius: 15px;   
    align-items: center;
}

.about img {
    border-radius: 50%;
    max-width: 60%;
    max-height: 60%;
    display: block;
    margin: auto;
}

.about-content {
    display: flex;
    width: 50%;
    padding: 40px 40px;
    background-color: rgba(255, 255, 255, .8);
    line-height: 1.75;
    font-size: 2vw;
    text-align: center;
    box-shadow: 0 0 7px rgba(22, 19, 19, 0.3);
    border-radius: 15px;   
}

.about-content p {
    display: block;
    margin: auto;
}

.works {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url("../images/awoodbackground.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    padding: 150px 150px;
}

.works-header {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
    width: 8%;
    background-color: rgba(255, 255, 255, .8); 
    box-shadow: 0 0 7px rgba(22, 19, 19, 0.3);
    border-radius: 15px; 
}


.projects {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgba(255, 255, 255, .8);
    box-shadow: 0 0 7px rgba(22, 19, 19, 0.3);
    border-radius: 15px; 
    padding: 0 1.34vh;
}

.projects h2 {
    text-align: center;
}

.projects a {
    text-decoration: none;
    color: black;
    font-size: 1vw;
}

.primary-project {
    width: 96.66%;
    margin: 2vh auto 0 auto;
}

.secondary-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.projects-one {
    width: 47.5%;
    margin: auto;
}

.projects-two {
    width: 47.5%;
    margin: auto;
}

.project-card {
    padding: 10vh 0;
    background-size: cover;
    border: 1px solid rgb(22, 19, 19);
    border-radius: 15px;
}

.first-row {
    margin-bottom: 10px;
}

#cocktails {
    background-image: url("../images/cocktails-and-music.png");
    

}
#run-buddy {
    background-image: url("../images/hero-bg.jpg");
}

#robot-gladiators {
    background-image: url("../images/battlebot.jpg");
    background-size: contain;
    background-position: bottom;
}

#work-day {
    background-image: url("../images/work-day-scheduler.png")
}

#weather-dash {
    background-image: url("../images/weather-dash.png")
}
#project-one, #project-two, #project-three {
    background-image: url("../images/download.png");
    background-size: cover;
    background-position: 50%;
}

.contact-footer {
    background-image: url("../images/awoodbackground.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    padding: 40px 0;
}

.contact {
    text-align: center;
    width:fit-content;
    padding: 40px;
    margin: auto;
}
 .contact ul {
     list-style-type: none;
 }
 
 .contact ul li a {
     text-decoration: none;
     color: black;
 }
 
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 100px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 10vh;
    }
    
    .page-header {
        width: 100%;
        text-align: center;
        height: 35%
    }

    header nav {
        width: 100%;
        height: 65%;
        display: flex;
        flex-wrap: wrap;
    }
    
    header nav ul {
        width: 100%;
        background-color: rgba(255, 255, 255, .8);
        box-shadow: 0 0 7px rgba(22, 19, 19, 0.3);
        border-radius: 15px;   
        margin: 0 30%;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

.about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    padding: 10vh;
}

.about-header {
    margin: 0 0 2vh 0;
}
.header-image {
    width: 75%;
}

.image {
    margin: 0 0 2vh 0;
}
.about img {
    padding: 5vh;
}

.about-content {
    width: 75%;
    height: 20%;
}
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    header nav ul {
        width: 100%;
        background-color: rgba(255, 255, 255, .8);
        box-shadow: 0 0 7px rgba(22, 19, 19, 0.3);
        border-radius: 15px;   
        margin: 0 20%;
    }
    .about {
        padding: 7vh;
    }
    .works {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        padding: 10vh 17vw;
    }

    .works-header {
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        margin-bottom: 5vh;
    }
    
    .projects {
        width: 100%;
    }
    
   .primary-project {
       margin: 2vh auto;
   }
    .secondary-projects {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
    }

    .projects-one {
        width: 96.66%;
        margin-bottom: 2vh;
    }

    .projects-two {
        width: 96.66%;
        margin-bottom: 2vh;
    }
    
    .first-row {
        margin-bottom: 2vh;
    }

    footer {
        text-align: center;
    }
    #copy {
        margin: auto;
    }
}